# 셀러오피스 계정
SO_USER_ID=아이디_입력
SO_USER_PW=비밀번호_입력

# WMS 계정
WMS_USER_ID=아이디_입력
WMS_USER_PW=비밀번호_입력
WMS_URL=WMS_접속_URL_입력

# 셀러오피스 URL
BASE_URL=접속할_서비스_URL

# SKU 등록 정보
skuType=상온
inboundQty=1000

# WMS 입고처리
targetDate=YYYY.MM.DD
storage=상온

# 상품등록 정보
productName=테스트상품명
price=10000
skuNo=SKU번호1,SKU번호2
imagePath=이미지_파일_경로_입력

# 공급사 ID
SUPPLIER_ID=공급사_ID_입력
